
.login-wrapper {
  width: 100vw;
  height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;

  background-image: url("E:\schoolmanagement\frontend\public\images\school-login.JPG"); 
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 500px;
  background: #ffffff;
  padding: 55px 45px;
  border-radius: 22px;
  text-align: center;

  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.25);
  animation: fadeUp 0.5s ease;
}

/* Logo centered above text */
.login-card-logo {
  width: 105px;
  margin: 0 auto 20px auto;
  display: block;
}

/* Title */
.login-title {
  font-family: "Playfair Display", serif;
  font-size: 34px;
  color: #243050;
  font-weight: 600;
  margin-bottom: 8px;
}

/* Subtitle */
.login-subtitle {
  font-size: 15px;
  opacity: 0.8;
  margin-bottom: 25px;
  color: #243050;
}

.login-switch {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin-bottom: 25px;
}

.switch-btn {
  padding: 9px 22px;
  border-radius: 8px;
  background: #ffffff;
  border: 1px solid #243050;
  color: #243050;
  cursor: pointer;
  font-weight: 500;
  transition: 0.25s ease;
}

.switch-btn.active,
.switch-btn:hover {
  background: #243050;
  color: white;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login-form label {
  color: #243050;
  font-size: 15px;
  text-align: left;
}

.login-form input {
  padding: 12px 15px;
  border-radius: 8px;
  border: 1px solid #b3b3b3;
  font-size: 15px;
  transition: 0.25s ease;
}

.login-form input:focus {
  border-color: #243050;
  box-shadow: 0 0 0 3px rgba(36, 48, 80, 0.25);
}

/* Submit button */
.login-btn {
  margin-top: 10px;
  padding: 12px 0;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 600;

  background: #243050;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.25s;
}

.login-btn:hover {
  background: #1b2540;
}

@keyframes fadeUp {
  from { opacity: 0; transform: translateY(20px); }
  to   { opacity: 1; transform: translateY(0); }
}

.app .main {
  padding: 0 !important;
  margin: 0 !important;
}
